---
import '@styles/global.css'
import { siteConfig, licenseConfig, profileConfig } from '@/config'
import MainPageLayout from '@layouts/MainPageLayout.astro'
import Markdown from '@components/misc/Markdown.astro'
import ImageModule from '@components/misc/ImageModule.astro'
import BackTop from '@components/control/BackTop.astro'
import TOC from '@components/TOC.svelte'
import LicenseCard from '@components/misc/LicenseCard.astro'
import Comments from '@components/comment/Comments.svelte'

import { getCollection, render } from 'astro:content'
import { i18n } from "astro:config/client";

import { blogCoverUrl, formatDateToISO } from '@/utils/url-utils'
import { getBlogEntrySort } from '@utils/content-utils'


const currentLang = Astro.currentLocale || i18n!.defaultLocale;

export async function getStaticPaths() {
    
    // 获取所有支持的语言
    const locales = i18n?.locales || [i18n?.defaultLocale];
    
    // 为每种语言和每篇文章组合生成路由
    const paths = [];
    
    for (const locale of locales) {
        const blogEntries = await getBlogEntrySort(locale);
        for (const entry of blogEntries) {
            
            paths.push({
                params: {
                    locale: locale === i18n?.defaultLocale ? undefined : locale,
                    id: entry.id
                },
                props: { entry }
            });
        }
    }
    
    return paths;
}
const { entry } = Astro.props;
const { Content, headings } = await render(entry); // 获取渲染后的正文内容



const pageTitle = entry.data.title + ' - ' + siteConfig.title;
const image = blogCoverUrl(entry.data.image, entry.id);

---
<MainPageLayout title={pageTitle} lang={currentLang}>
    <div class="mx-auto w-full max-w-[var(--page-width)] py-8">
        <div class="mb-8 text-center">
            <h1 class="font-bold text-3xl mb-2 pt-10 text-[var(--text-color)]">{ entry.data.title }</h1>
            <p class="font-bold text-gray-600 pt-4 pb-10">{ formatDateToISO(entry.data.pubDate) }</p>
        </div>
        {image && (
            <div class="cover overflow-hidden">
                <ImageModule src={image} class="w-full h-full object-cover"/>
            </div>
        )}
        <Markdown class="mb-6 markdown-content onload-animation">
            <Content />
        </Markdown>
        {licenseConfig.enable &&
        <LicenseCard title={entry.data.title} pubDate={entry.data.pubDate}/>
        }
        {
            siteConfig.comments.enable && 
            <Comments postSlug={entry.data.slugId} language={currentLang} postTitle={entry.data.title} client:visible/>
        }
    </div>
    {
        siteConfig.toc.enable &&
        <TOC headings={headings} language={currentLang} client:load/>
    }
    <BackTop />
</MainPageLayout>