---
import type { LicenseConfig } from '@/types/config';
import { i18n } from "astro:config/client";
import i18nit from "@i18n/translation";

interface Props {
    author: string;
    url: string;
    class?: string;
    license: LicenseConfig;
}

const { locale = i18n!.defaultLocale } = Astro.params;
const { author, url, license } = Astro.props;

const currentLang = i18n.locales.includes(locale) ? locale : i18n!.defaultLocale;
const t = i18nit(currentLang);

const className = Astro.props.class;
---

<div class={`p-3 text-sm rounded border border-[var(--button-border-color)]  bg-[var(--bg-color)] ${className || ''}`}>
    <div class="space-y-1 text-[var(--text-color)]/80">
        <p>
            <b>{t("license.author")}: </b>{author}
        </p>
        <p >
            <b>{t("license.url")}: </b><a href={url} class="hover:text-[var(--link-color)]">{url}</a>
        </p>
        <p>
            <b>
                {t("license.description1")} <a href={license.url} target="_blank" rel="noopener noreferrer" class="link-line">{license.name}</a> {t("license.description1")}
            </b>
        </p>
    </div>
</div>